@model X.PagedList.IPagedList<Model.User>
@using X.PagedList.Mvc;

@{
    ViewData["Title"] = "用户列表";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>用户列表</h1>
<hr />

<p class="pull-right">
    <a href="Create" class="btn btn-primary" style="margin-right: 20px;">添加用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
               用户名
            </th>
            <th>
                性别
            </th>
            <th>
               地址
            </th>
            <th>
               手机号
            </th>
            <th>
               注册时间
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "btn btn-sm  btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchKey = ViewData["SearchKey"] }))
